extends layout

block content
  h1= title
  a(href="/new") New Message


  hr
  hr

  each document in message_list
    div
      li= document.username
        h2= document.message
        p= document.date
        div
          ul
            each comment in document.comments
              li= comment.username
              p= comment.comment
                a(href=comment._id + "/delete-comment") Delete Comment//-------------------HAVE TO GET REQUEST A PARTICULAR COMMENT'S _ID AND DELETE
        a.delete(href=document.url + "/delete") Delete Message
        p= "or"
        a(href=document.url + "/comment") Add Comment
        hr
