extends layout

block content
  h1= title

  a(href="/new") New Message
  hr
  hr

  each document in message_list
    div
      li= document.username
        p= document.message
        p= document.date
        p= document.url
        a(href=document.url + "/delete") Delete Message
        hr
